# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# IDE settings
.vscode/
.idea/

# OS system files
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
.streamlit/